/vendor
/node_modules
composer.phar
.DS_Store
.env
.idea/workspace.xml
.idea/tasks.xml
.idea/php.xml
.idea/vagrant.xml
.idea/remote-mappings.xml
.idea/runConfigurations/Build_Templates_Command.xml
.idea/composerJson.xml
*/.iws
npm-debug.log
